<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
    <!-- <ion-buttons slot="start" >
      <ion-back-button  text="返回" defaultHref="tabs/me/setting">11
      </ion-back-button>
    </ion-buttons> -->
    <ion-buttons slot="start">
      <ion-back-button text="取消"  defaultHref="tabs/me"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <ion-list inset="true">
    <ion-item>
      <ion-input #valueinput="ngModel" type="text" required [placeholder]="title" [(ngModel)]="value"></ion-input>
      
    </ion-item>
    <ion-button (click)="onSave()" color="ysj" expand="full" [disabled]="valueinput.invalid">
      <!-- <ion-button expand="full"  color="primary" (click)="onCodeNext()"> -->
      保存
      </ion-button>
    
  </ion-list>
  
</ion-content>
