<ion-header>
  <ion-toolbar>
    <ion-title>店铺设置</ion-title>
    <ion-buttons slot="start" >
      <ion-back-button  text="返回" defaultHref="tabs/me/setting">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <ion-list inset="true">
    <ion-item detail routerLink="edit" [queryParams]="{title:'店铺名称',property:'shopName'}">
      <ion-label>店铺名称</ion-label>
      <ion-note>{{currentUser.shopName}}</ion-note>
    </ion-item>
    <ion-item detail routerLink="edit" [queryParams]="{title:'店铺简称',property:'shopNickName'}">
      <ion-label>店铺简称</ion-label>
      <ion-note>{{currentUser.shopNickName}}</ion-note>
    </ion-item>
    <ion-item >
      <ion-label>注册时间</ion-label>
      <ion-note>{{currentUser.createTime}}</ion-note>
    </ion-item>
    <ion-item >
      <ion-label>手机号码</ion-label>
      <ion-note>{{currentUser.phone}}</ion-note>
    </ion-item>
  </ion-list>

  <ion-list inset="true">
    <ion-item >
      <ion-label>电子邮件</ion-label>
      <ion-note>{{currentUser.email}}</ion-note>
    </ion-item>
    <ion-item detail routerLink="edit" [queryParams]="{title:'店主姓名',property:'ownerName'}">
      <ion-label>店主姓名</ion-label>
      <ion-note>{{currentUser.ownerName}}</ion-note>
    </ion-item>
    <ion-item detail routerLink="edit" [queryParams]="{title:'店铺电话',property:'ShopPhone'}">
      <ion-label>店铺电话</ion-label>
      <ion-note>{{currentUser.ShopPhone}}</ion-note>
    </ion-item>
    <ion-item detail routerLink="edit" [queryParams]="{title:'行业类型',property:'tradeType'}">
      <ion-label>行业类型</ion-label>
      <ion-note>{{currentUser.tradeType}}</ion-note>
    </ion-item>
  </ion-list>

</ion-content>
